# Importando Bibliotecas

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

## Carregando Arquivos

# Pinguins

In [ ]:
pg = sns.load_dataset('penguins')
ts = sns.load_dataset('tips')
tc = sns.load_dataset('titanic')
qa = sns.load_dataset('anscombe')

pg

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [11]:
pg_dict = pd.DataFrame([
    {
        "variavel": "species",
        "descricao": "Espécie dos pinguins ('Chinstrap''Adelie', 'Gentoo', )",
        "tipo": "Qualitativa",
        "subtipo": "Nominal"
    },
    {
        "variavel": "island",
        "descricao": "Ilha ondem vivem os pinguins ('Torgersen','Biscue', 'Dream', )",
        "tipo": "Qualitativa",
        "subtipo": "Nominal"
    },
    {
        "variavel": "bill_length_mm",
        "descricao": "Comprimento do bico do pinguim em milimetros",
        "tipo": "Quantitativa",
        "subtipo": "Contínua"
    },
    {
        "variavel": "bill_depth_mm",
        "descricao": "Profundidade do bico do pinguim em milimetros",
        "tipo": "Quantitativa",
        "subtipo": "Contínua"
    },
    {
        "variavel": "flipper_length_mm",
        "descricao": "Comprimento da nadadeira do pinguim em milimetros",
        "tipo": "Quantitativa",
        "subtipo": "Contínua"
    },
    {
        "variavel": "body_mass_g",
        "descricao": "Massa corporal do pinguim em gramas",
        "tipo": "Quantitativa",
        "subtipo": "Contínua"
    },
    {
        "variavel": "sex",
        "descricao": "Sexo do pinguim (M , F)",
        "tipo": "Qualitativa",
        "subtipo": "Nominal"
    },
])

pg_dict

,variavel,descricao,tipo,subtipo
0,species,"Espécie dos pinguins ('Chinstrap''Adelie', 'Ge...",Qualitativa,Nominal
1,island,"Ilha ondem vivem os pinguins ('Torgersen','Bis...",Qualitativa,Nominal
2,bill_length_mm,Comprimento do bico do pinguim em milimetros,Quantitativa,Contínua
3,bill_depth_mm,Profundidade do bico do pinguim em milimetros,Quantitativa,Contínua
4,flipper_length_mm,Comprimento da nadadeira do pinguim em milimetros,Quantitativa,Contínua
5,body_mass_g,Massa corporal do pinguim em gramas,Quantitativa,Contínua
6,sex,"Sexo do pinguim (M , F)",Qualitativa,Nominal

In [12]:
pg.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

## Moda

In [13]:
pg['bill_length_mm'].mode()

0    41.1
Name: bill_length_mm, dtype: float64

In [14]:
pg['bill_depth_mm'].mode()

0    17.0
Name: bill_depth_mm, dtype: float64

In [15]:
pg['flipper_length_mm'].mode()

0    190.0
Name: flipper_length_mm, dtype: float64

In [16]:
pg['body_mass_g'].mode()

0    3800.0
Name: body_mass_g, dtype: float64

## Média

In [17]:
pg['bill_length_mm'].mean()

43.9219298245614

In [18]:
pg['bill_depth_mm'].mean()

17.151169590643278

In [19]:
pg['flipper_length_mm'].mean()

200.91520467836258

In [20]:
pg['body_mass_g'].mean()

4201.754385964912

## Mediana

In [21]:
pg['bill_length_mm'].median()

44.45

In [22]:
pg['bill_depth_mm'].median()

17.3

In [23]:
pg['flipper_length_mm'].median()

197.0

In [24]:
pg['body_mass_g'].median()

4050.0

## Desvio Padrão

In [25]:
pg['bill_length_mm'].std()

5.4595837139265315

In [26]:
pg['bill_depth_mm'].std()

1.9747931568167816

In [27]:
pg['flipper_length_mm'].std()

14.061713679356888

In [28]:
pg['body_mass_g'].std()

801.9545356980956

# Tips

In [29]:
ts

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [30]:
ts_dict = pd.DataFrame([
    {
        "variavel": "total_bill",
        "descricao": "Valor Total da Conta ",
        "tipo": "Quantitativa",
        "subtipo": "Contínua"
    },
    {
        "variavel": "tip",
        "descricao": "Valor da Gorjeta",
        "tipo": "Quantitativa",
        "subtipo": "Contínua"
    },
    {
        "variavel": "sex",
        "descricao": "Sexo do Cliente ('Male','	Female')",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
    {
        "variavel": "smoker",
        "descricao": "Informa se a pessoa é fumante ('Yes','No')",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
    {    
        "variavel":"day",
        "descricao":"Informa os dias da semana ('Sun', 'Sat', 'Thur')",
        "tipo":"Qualitativa",
        "subtipo":"Ordinal"
    },
     {
        "variavel":"time",
        "descricao":"Informa o período da compra ('Dinner', 'Lunch')",
        "tipo":"Qualitativa",
        "subtipo":"Ordinal"
    },
     {
        "variavel":"size",
        "descricao":"Indica o número de pessoas na mesa",
        "tipo":"Quantitativa",
        "subtipo":"Discreta"
    },
])

ts_dict

,variavel,descricao,tipo,subtipo
0,total_bill,Valor Total da Conta,Quantitativa,Contínua
1,tip,Valor da Gorjeta,Quantitativa,Contínua
2,sex,"Sexo do Cliente ('Male','\tFemale')",Qualitativa,Nominal
3,smoker,"Informa se a pessoa é fumante ('Yes','No')",Qualitativa,Nominal
4,day,"Informa os dias da semana ('Sun', 'Sat', 'Thur')",Qualitativa,Ordinal
5,time,"Informa o período da compra ('Dinner', 'Lunch')",Qualitativa,Ordinal
6,size,Indica o número de pessoas na mesa,Quantitativa,Discreta

In [31]:
ts.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

## Moda

In [32]:
ts['total_bill'].mode()

0    13.42
Name: total_bill, dtype: float64

In [33]:
ts['tip'].mode()

0    2.0
Name: tip, dtype: float64

In [34]:
ts['size'].mode()

0    2
Name: size, dtype: int64

## Média

In [35]:
ts['total_bill'].mean()

19.78594262295082

In [36]:
ts['tip'].mean()

2.99827868852459

In [37]:
ts['size'].mean()

2.569672131147541

## Mediana

In [38]:
ts['total_bill'].median()

17.795

In [39]:
ts['tip'].median()

2.9

In [40]:
ts['size'].median()

2.0

## Desvio Padrão

In [41]:
ts['total_bill'].std()

8.902411954856856

In [42]:
ts['tip'].std()

1.3836381890011822

In [43]:
ts['size'].std()

0.9510998047322344

# Titanic

In [44]:
tc

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [45]:
tc_dict = pd.DataFrame([
    {
        "variavel":"survived",
        "descricao":"Informa se é Sobrevivente",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
     {
        "variavel":"pclass",
        "descricao":"Informa a classe do navio ('3', '1', '2'))",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
     {
        "variavel":"sex",
        "descricao":"Informa o sexo do passageiro ('Male' ,'Female')",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
     {
        "variavel":"age",
        "descricao":"Informa a idade do passageiro",
        "tipo":"Quantitativa",
        "subtipo":"Discreta"
    },
    {
        "variavel":"fare",
        "descricao":"Informa a Tarifa",
        "tipo":"Quantitativa",
        "subtipo":"Continua"
    },
     {
        "variavel":"embarked",
        "descricao":"Informa onde embacaram",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
     {
        "variavel":"class",
        "descricao":"Informa a classe do navio",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
     {
        "variavel":"who",
        "descricao":"Informa se o passageiro é homem, mulher ou criança",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
     {
        "variavel":"adult_male",
        "descricao":"Informa se é um homem adulto ",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    }, 
    {
        "variavel":"embark_town",
        "descricao":"Cidade onde embarcou",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
     {
        "variavel":"alive",
        "descricao":"Informa se é um sobrevivente",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    },
     {
        "variavel":"alone",
        "descricao":"Informa se o Passageiro estava sozinho ou não",
        "tipo":"Qualitativa",
        "subtipo":"Nominal"
    }
])

tc_dict

,variavel,descricao,tipo,subtipo
0,survived,Informa se é Sobrevivente,Qualitativa,Nominal
1,pclass,"Informa a classe do navio ('3', '1', '2'))",Qualitativa,Nominal
2,sex,"Informa o sexo do passageiro ('Male' ,'Female')",Qualitativa,Nominal
3,age,Informa a idade do passageiro,Quantitativa,Discreta
4,fare,Informa a Tarifa,Quantitativa,Continua
5,embarked,Informa onde embacaram,Qualitativa,Nominal
6,class,Informa a classe do navio,Qualitativa,Nominal
7,who,"Informa se o passageiro é homem, mulher ou cri...",Qualitativa,Nominal
8,adult_male,Informa se é um homem adulto,Qualitativa,Nominal
9,embark_town,Cidade onde embarcou,Qualitativa,Nominal
10,alive,Informa se é um sobrevivente,Qualitativa,Nominal
11,alone,Informa se o Passageiro estava sozinho ou não,Qualitativa,Nominal

In [46]:
tc.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

# Anscombe

In [47]:
qa

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [48]:
qa.describe()

               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000